<h1>Edit Citizen Record</h1>

<%= form_with url: "/citizens/#{@citizen.id}", method: :patch, data: {turbo: false} do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.label :employed %>
<%= form.select :employed, [true, false] %>
<%= form.label :age %>
<%= form.text_field :age %>
<%= form.submit "Update Citizen" %>
<% end %>