<h1>New Country Record</h1>

<%= form_with url: "/countries", method: :post, data: { turbo: false } do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name%>
  <%= form.label :democratic %>
  <%= form.select :democratic, [true,false]%>
  <%= form.label :year_founded %>
  <%= form.text_field :year_founded %>
  <%= form.submit "Create Country"%>
<% end %>