<h1>Citizens of <%= "#{@country.name}"%></h1>
<%= link_to "Create Citizen", "/countries/#{@country.id}/citizens/new"  %>
<ul>
  <% @citizens.each do |citizen| %>
    <li><%= citizen.name %></li>
    <li><%= citizen.age %></li>
    <li>Employed: <%= citizen.employed %></li>
    <br>
      <% end%>
</ul>

